@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to the Hotel Booking web app. However, this is the beta version! Please take care when you go through the functions..</a>.</p>
    <p>You will either break everything or break my heart. Please take care ♥ </p>
</div>
